@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}

div.navBar {
  display: inline-block;
}
ul.navBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li.navBar {
  float: left;
}
a.navBar {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #000000;
}

.imgDriv {
  width: 25%;
  height: auto;
}

.txtCenter {
  text-align: center;
}
.txtRight {
  text-align: right;
}

.subtitle {
  /* TODO: Lag en undertittel som ligger på samme linje som navBar */
}

.floatLeft {
  float: left;
}
.floatRight {
  float: right;
}

a {
  color: black;
}

a.no-decoration {
  text-decoration: none;
  color: black;
}

#container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 85% 1fr;
  grid-template-rows: 1fr 15% 1fr 15% 1fr;

  /* border: 1px solid black; */
}
#header {
  grid-column: 2/3;
  grid-row: 2/3;
  text-align: center;

  /* border: 1px solid black; */
}
#body {
  grid-column: 2/3;
  grid-row: 3/4;

  /* border: 1px solid black; */
}
#footer {
  grid-column: 2/3;
  grid-row: 4/5;
  text-align: center;

  /* border: 1px solid black; */
}
